html{font-family: arial;text-align: center}
#welcome{background-color: aquamarine;border-bottom-width: 20px}
#ing{height: 100px;border-radius: 120px}
#line1{height: 6px;width: 70px;background-color: black}